header{
    height: 100px;
    padding-top:30px ;
    padding-bottom: 10px;
    margin-bottom: 50px;
  
}
.brand{
    background-color: #f3f6ff;
    border-radius: 20px;
    padding: 10px 30px;
    cursor: pointer;
}