.card{
    border: none;
    border-left: 5px solid #0000;
    margin-top: 50px ;
    border-top-left-radius: 30px;
}
.bg-primary{
    background-color: #e9eeff;
    --bs-bg-opacity:.2;
    color: #4772fe;
}
.bg-danger{
    background-color: #fef0f0;
    --bs-bg-opacity:.2;
    color: #f04141;
    margin-top: 50px;
}
.cat-tools{
    display: none;
}

.categories-list .card:hover{
    cursor:pointer;
    background-color: #f8f8f8;
}
.categories-list .card:hover .cat-tools{
    display: inline;
  
}